.home-content{
    width: 98%;
    /* height:calc(100%-80px); */
    height:500px;
    margin:20px auto;
    margin-bottom:0 !important;
    border:0.5px solid #ffffff;
    background: burlywood;
}
.home-content .home-content-header{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: peru;
}
.home-content .home-content-header .bdc{
    width: 80%;
    height: 60px;
    float: left;
    color:white;
}
.home-content .home-content-header .bdc .btn_item_active{
    float: left;
    width: 20%;
    height: 60px;
    line-height: 60px;
    color: #230d22;
    text-align: center;
    cursor: pointer;
    border-bottom:1px solid #230d22;
}
.home-content .home-content-header .bdc .btn_item{
    float: left;
    width: 20%;
    height: 60px;
    line-height: 60px;
    color:#D7D7D7;
    text-align: center;
    cursor: pointer;
}

.home-content .home-content-header .btn_item , .home-content .home-content-header .btu_item_active{
    display: inline-block;
    margin-left: 2px;
}
.home-content .home-content-header .home-input{
    width: 300px;
    display: inline-block;
}